<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hallo, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Logg inn</a>
    </NotAuthorized>
</AuthorizeView>
