<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Dette er ikke siden du leter etter</p>
                <img src="/Images/404-error-message.jpg" asp-append-version="true"  />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
