@page "/fetchdata"
@using Registrering.Services
@using Registrering.Models
@inject IAttendeeService AttService

<h1>Registrerte</h1>


@if (attendees == null)
{
    <p><em>Her er en dansende pikachu mens du venter</em></p>
    <img src="/Animations/loading_pikachu.gif" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Hjemmegruppe</th>
                <th>Clean dato</th>
                <th>Overnatte</th>
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <th>Edit</th>
                        <th>Delete</th>
                    </Authorized>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendee in attendees)
            {
                <tr>
                    <td>@attendee.homeGroup.CommitteeName</td>
                    <td>@attendee.SpecialDate.ToShortDateString()</td>
                    @if (attendee.Accomodation == 1)
                    {
                        <td>Ja</td>
                    }
                    else
                    {
                        <td>Nei</td>
                    }
                    <AuthorizeView Roles="admin">
                        <Authorized>
                            <td><input type="button" class="btn btn-primary" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" value="Delete" /></td>
                        </Authorized>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    List<Attendee> attendees;

    protected override async Task OnInitializedAsync()
    {
        attendees = await AttService.Get();
    }
}
