@page "/fetchdata"
@using Registrering.Services
@using Registrering.Models
@inject IAttendeeService AttService

<h1>Registrerte</h1>


@if (attendees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Hjemmegruppe</th>
                <th>Clean dato</th>
                <th>Overnatte</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendee in attendees)
            {
                <tr>
                    <td>@attendee.Name</td>
                    <td>@attendee.SpecialDate.ToShortDateString()</td>
                    <td>@attendee.Accomodation</td>
                    <td><input type="button" class="btn btn-primary" value="Edit" /></td>
                    <td><input type="button" class="btn btn-danger" value="Delete" /></td>
                </tr>
            }
        </tbody>
    </table>
}
<AuthorizeView Roles="admin, user">
    <Authorized>
        <h1>Kun administrator</h1>
    </Authorized>
</AuthorizeView>

@code {

    List<Attendee> attendees;

    protected override async Task OnInitializedAsync()
    {
        attendees = await AttService.Get();
    }
}
